<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5wUy3iAd7a_7PfFqZdzVL4oOjQPHoARQ</string>
	<key>GCM_SENDER_ID</key>
	<string>70020867596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CUProject.FPF23</string>
	<key>PROJECT_ID</key>
	<string>loginsignupapp-e8aa3</string>
	<key>STORAGE_BUCKET</key>
	<string>loginsignupapp-e8aa3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70020867596:ios:91244ae6beef3ab121b029</string>
</dict>
</plist>